@model Api.Models.PageViewModel

<div class="col-md-3">
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Bot</h4>
        </div>
        <div class="panel-body user-profile-panel">
            <img src="~/images/messenger.png" class="user-profile-image img-circle" alt="">
            <h4 class="text-center m-t-lg">@Model.CurrentBot.Bot.Name</h4>
            <p class="text-center" style="font-size: 90%">@Model.CurrentBot.Bot.Token</p>
            <hr>
            <ul class="list-unstyled text-center">
                <li>
                    <p><i class="fa fa-map-marker m-r-xs"></i>Cognitive Services: @(Model.CurrentBot.Bot.CognitiveServicesEnabled ? "enabled" : "disabled")</p>
                </li>
                <li>
                    <p>
                        <p><i class="fa fa-paper-plane-o m-r-xs"></i>Networking: @(Model.CurrentBot.Bot.NetworkingEnabled ? "enabled" : "disabled")</p>
                    </p>
                </li>
            </ul>
            <hr>
            <a href="@(Model.CurrentBot.Status ? "stop/?id=" + Model.CurrentBot.Bot.Id : "start/?id=" + Model.CurrentBot.Bot.Id)" class="btn btn-info btn-block">@(Model.CurrentBot.Status ? "Stop" : "Start")</a>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-white">
        <div class="panel-body">
            <div class="post">
                <textarea class="form-control" placeholder="Post" rows="4"></textarea>
                <div class="post-options">
                    <button class="btn btn-default pull-right">Send</button>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-timeline">
        <ul class="list-unstyled">
            <li class="timeline-item">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="timeline-item-header">
                            <img src="~/images/messenger.png" alt="">
                            <p>
                                @Model.CurrentBot.Bot.Name <span>text message answers</span>
                            </p>
                        </div>
                        <br/>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Text Message</th>
                                <th>Answer</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var textMessage in Model.TextMessages)
                            {
                                <tr>
                                    <td>@textMessage.Message</td>
                                    <td>@textMessage.Answer</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <br/>

                        <div class="timeline-item-header">
                            <img src="~/images/messenger.png" alt="">
                            <p>
                                @Model.CurrentBot.Bot.Name <span>inline keys</span>
                            </p>
                        </div>
                        <br/>
                        <a href="/inline-keys/new?botId=@Model.CurrentBot.Bot.Id" class="btn btn-default">New</a>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Caption</th>
                                <th>Answer</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var inlineKey in Model.InlineKeys)
                            {
                                <tr>
                                    <td>@inlineKey.Caption</td>
                                    <td>@inlineKey.Answer</td>
                                    <td class="text-right">
                                        <form method="POST" action="/inline-keys/remove">
                                            <input type="hidden" name="id" value="@inlineKey.Id" required>
                                            <input type="hidden" name="botId" value="@inlineKey.BotId" required>
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <br/>
                        <div class="timeline-item-header">
                            <img src="~/images/messenger.png" alt="">
                            <p>
                                @Model.CurrentBot.Bot.Name <span>url keys</span>
                            </p>
                        </div>
                        <br/>
                        <a href="/inline-url-keys/new?botId=@Model.CurrentBot.Bot.Id" class="btn btn-default">New</a>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Caption</th>
                                <th>Url</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var urlKey in Model.InlineUrlKeys)
                            {
                                <tr>
                                    <td>@urlKey.Caption</td>
                                    <td>@urlKey.Url</td>
                                    <td class="text-right">
                                        <form method="POST" action="/inline-url-keys/remove">
                                            <input type="hidden" name="id" value="@urlKey.Id" required>
                                            <input type="hidden" name="botId" value="@urlKey.BotId" required>
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Start message</h4>
        </div>
        <div class="panel-body">
            <p>@Model.CurrentBot.Bot.StartMessage</p>
        </div>
    </div>
    <h4>Interviews</h4>
    @foreach (var interview in Model.Interviews)
    {
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">@interview.Name</h4>
            </div>
            <div class="panel-body">

                <blockquote>
                    <p>@(interview.Question[interview.Question.Length - 1] == '?' ? @interview.Question : interview.Question + "?")</p>
                    @foreach (var answer in interview.Answers)
                    {
                        <footer>@answer</footer>
                    }
                </blockquote>
            </div>
        </div>
    }
</div>