@model Api.Models.PageViewModel

<div class="col-md-3">
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Bot</h4>
        </div>
        <div class="panel-body user-profile-panel">
            <img src="~/images/messenger.png" class="user-profile-image img-circle" alt="">
            <h4 class="text-center m-t-lg">@Model.CurrentBot.Bot.Name</h4>
            <p class="text-center" style="font-size: 90%">@Model.CurrentBot.Bot.Token</p>
            <hr>
            <ul class="list-unstyled text-center">
                <li>
                    <p><i class="fa fa-map-marker m-r-xs"></i>Cognitive Services: @(Model.CurrentBot.Bot.CognitiveServicesEnabled ? "enabled" : "disabled")</p>
                </li>
                <li>
                    <p>
                        <p><i class="fa fa-paper-plane-o m-r-xs"></i>Networking: @(Model.CurrentBot.Bot.NetworkingEnabled ? "enabled" : "disabled")</p>
                    </p>
                </li>
            </ul>
            <hr>
            <button class="btn btn-info btn-block">@(Model.CurrentBot.Status ? "Stop" : "Start")</button>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-white">
        <div class="panel-body">
            <div class="post">
                <textarea class="form-control" placeholder="Post" rows="4"></textarea>
                <div class="post-options">
                    <button class="btn btn-default pull-right">Send</button>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-timeline">
        <ul class="list-unstyled">
            <li class="timeline-item">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="timeline-item-header">
                            <img src="~/images/messenger.png" alt="">
                            <p>jack smith <span>posted a status</span></p>
                            <small>3 hours ago</small>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Text Message</th>
                                <th>Answer</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var textMessage in Model.CurrentBot.TextMessages)
                            {
                                <tr>
                                    <td>@textMessage.Message</td>
                                    <td>@textMessage.Answer</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li class="timeline-item">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="timeline-item-header">
                            <img src="~/images/messenger.png" alt="">
                            <p>david smith <span>uploaded a photo</span></p>
                            <small>7 hours ago</small>
                        </div>
                        <div class="timeline-item-post">
                            <p>Aenean ante nunc, eleifend eget hendrerit eget</p>
                            <img src="http://via.placeholder.com/500x300" alt="">
                            <div class="timeline-options">
                                <a href="#"><i class="fa fa-thumbs-up"></i> Like (12)</a>
                                <a href="#"><i class="fa fa-comment"></i> Comment (1)</a>
                                <a href="#"><i class="fa fa-share"></i> Share (6)</a>
                            </div>
                            <div class="timeline-comment">
                                <div class="timeline-comment-header">
                                    <img src="http://via.placeholder.com/30x30" alt="">
                                    <p>noah smith <small>1 hour ago</small></p>
                                </div>
                                <p class="timeline-comment-text">Cras tempor pretium lorem, quis suscipit ipsum</p>
                            </div>
                            <textarea class="form-control" placeholder="Replay"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Start message</h4>
        </div>
        <div class="panel-body">
            <p>@Model.CurrentBot.Bot.StartMessage</p>
        </div>
    </div>
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Some Info</h4>
        </div>
        <div class="panel-body">
            <p>Integer tincidunt varius nulla, vitae facilisis nibh ornare dignissim. Morbi in orci vitae magna vestibulum placerat at vel augue. Pellentesque rutrum ipsum eget odio</p>
        </div>
    </div>
</div>